<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <title>Summer Code</title>
</head>
<body>

    <h1>Summer Code 2024</h1>

    <div class="container">
        <h2>Week 1</h2>
        <h3>18/5/2024 - 25/5/2024</h3>
        <a href="/weekOne">Link</a>
    </div>

</body>
</html>