<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weekOne.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/SummerCode24.svg')}}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Week One</title>
</head>

<header>
    <a href="/"><- Til baka</a>
</header>
<body>
    <div>
        <h1>Animations</h1>
    </div>
</body>
</html>